Repository geocoder-php/Geocoder, pull requests merged in 2018-12, with the labels that each got.

#908 Improve for opencage provider
  src/Provider/OpenCage/Model/OpenCageAddress.php
  src/Provider/OpenCage/OpenCage.php
  src/Provider/OpenCage/Tests/OpenCageTest.php
Labels: improvement, provider

#896 Google Maps component filtering
  src/Provider/GoogleMaps/GoogleMaps.php
  src/Provider/GoogleMaps/Tests/.cached_responses/maps.googleapis.com_52985ec7762d4de3d6f1e0b41b881be875413899
  src/Provider/GoogleMaps/Tests/GoogleMapsTest.php
Labels: improvement, provider

#911 Update changelogs
  src/Provider/GoogleMaps/CHANGELOG.md
  src/Provider/OpenCage/CHANGELOG.md
Labels: documentation, provider

#915 Update README.md
  README.md
Labels: documentation

#914 [Yandex] Location "kind" addition
  src/Provider/Yandex/Model/YandexAddress.php
  src/Provider/Yandex/Tests/YandexTest.php
  src/Provider/Yandex/Yandex.php
Labels: improvement, provider

#919 [Yandex] Improve tests
  src/Provider/Yandex/Tests/YandexTest.php
Labels: improvement

#920 [Yandex] Update CHANGELOG.md
  src/Provider/Yandex/CHANGELOG.md
Labels: documentation, provider

#921 Tiny typo fix
  src/Provider/Cache/ProviderCache.php
Labels: documentation

#900 Improve Nominatim provider
  src/Provider/Nominatim/CHANGELOG.md
  src/Provider/Nominatim/Model/NominatimAddress.php
  src/Provider/Nominatim/Nominatim.php
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_08a4a6fa86e15d460984b411fffa3351225b3c7c
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_0b7c89ad04ee5a2d884a2fb4b718a1d54ff09d87
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_1330989384f0a69341cdc9325919489c2ab78d01
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_4b0bd12dfc3c0157ea016fa5c05223058dd1b76a
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_592b89bc385fdb5a1035c78dbbe53f2140ba2489
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_5ff6cd6f94ae2f70cf5300217327b77f9eda7435
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_7bc67c1f5d09c8956972d7bac599ad32378be808
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_7df0443a2fd6a14b81f22209fd212d98c62ed524
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_c8d6ddf2f89fcd37eb45427c4b121d768bd6c499
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_cf31cb719694431c8dfb6ea9caec0b45cba5aeac
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_dbb2cee16ead7ec2f2199dc8d4107306806ebe19
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_e52647a4ee81d8138eb99f6c112982f37b855f91
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_e658d32d515e8afcd12e81f3456b06507f0523ac
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_f650be9c07be19f4c0e01889d990883dfa9ae1e0
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_f8507c7e172266250167178dc127b0317c18c390
  src/Provider/Nominatim/Tests/NominatimTest.php
  src/Provider/Nominatim/phpunit.xml.dist
Labels: improvement, provider
