Repository geocoder-php/Geocoder, pull requests merged in 2019-01, with the labels that each got.

#905 Create Photon provider
  README.md
  src/Provider/Photon/.gitattributes
  src/Provider/Photon/.gitignore
  src/Provider/Photon/.travis.yml
  src/Provider/Photon/CHANGELOG.md
  src/Provider/Photon/LICENSE
  src/Provider/Photon/Model/PhotonAddress.php
  src/Provider/Photon/Photon.php
  src/Provider/Photon/Readme.md
  src/Provider/Photon/Tests/.cached_responses/photon.komoot.de_44f05b2deb4d31a52824e4fe033fd14dbfdbfc2c
  src/Provider/Photon/Tests/.cached_responses/photon.komoot.de_7a311ff9d0c9ac8a34403e815cd943b191433b1c
  src/Provider/Photon/Tests/.cached_responses/photon.komoot.de_aeef9ba1cccae98d9f4e89494d8fc5a6678e218a
  src/Provider/Photon/Tests/.cached_responses/photon.komoot.de_e0d75b7d776810b9f76c2fbce53c8d983714024c
  src/Provider/Photon/Tests/.cached_responses/photon.komoot.de_f4ac621e4c0bef6e8f8455d6570d3b59817cd0a5
  src/Provider/Photon/Tests/IntegrationTest.php
  src/Provider/Photon/Tests/PhotonTest.php
  src/Provider/Photon/composer.json
  src/Provider/Photon/phpunit.xml.dist
Labels: provider

#930 [Chain] Update CHANGELOG.md
  src/Provider/Chain/CHANGELOG.md
Labels: documentation

#931 [OpenCage] Update StreetName Locality and SubLocality Mapping
  src/Provider/OpenCage/OpenCage.php
  src/Provider/OpenCage/Tests/OpenCageTest.php
Labels: improvement, provider

#933 [OpenCage] Update CHANGELOG.md
  src/Provider/OpenCage/CHANGELOG.md
Labels: documentation, provider
