Repository geocoder-php/Geocoder, pull requests merged in 2019-07, with the labels that each got.

#981 [GeoIPs] Update and rename Readme.md to README.md
  src/Provider/GeoIPs/README.md
Labels: documentation

#984 [Chain] Update CHANGELOG.md
  src/Provider/Chain/CHANGELOG.md
Labels: documentation, provider

#988 Yandex support key
  src/Provider/Yandex/Readme.md
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_1ece1b149ef392c5f0da11797f637e7ae221bd17
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_5ded45ea75499ea33bc71c8cbca1ab897dae8164
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_6e6f03453e3d167c8f98f8e81b4967b63c8c7a6f
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_80749871012997dfec54797b934863b875718034
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_a698241420fea1dfed919b3388263423f14a4787
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_b21e6fa348985653ed3827c87beccbe62378ae6b
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_b235c83d84237612621f3bda35f41e291d265c22
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_b561a90296204f3883bf43c99f9458b058641a69
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_d08958bffb2ccfb2ba1f589665429312ee19f4dd
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_e4a5a17ff82fb94a41b081c6495045090de216eb
  src/Provider/Yandex/Tests/.cached_responses/geocode-maps.yandex.ru_fe183030953fd61ac7624981101f2ddee3a74fce
  src/Provider/Yandex/Tests/IntegrationTest.php
  src/Provider/Yandex/Tests/YandexTest.php
  src/Provider/Yandex/Yandex.php
  src/Provider/Yandex/phpunit.xml.dist
Labels: provider

#989 [Yandex] Update CHANGELOG.md
  src/Provider/Yandex/CHANGELOG.md
  src/Provider/Yandex/README.md
Labels: documentation, provider

#992 [Here] Update CHANGELOG.md
  src/Provider/Here/CHANGELOG.md
Labels: documentation, provider
