Repository geocoder-php/Geocoder, pull requests merged in 2019-04, with the labels that each got.

#945 [GeoIP2] Updated readme
  src/Provider/GeoIP2/Readme.md
Labels: documentation, provider

#947 [MaxMindBinary] Issue #946 - Apply utf8_encode only if the field is not null
  src/Provider/MaxMindBinary/MaxMindBinary.php
Labels: bug, provider

#944 [Google Maps] Implement partial_match
  src/Provider/GoogleMaps/GoogleMaps.php
  src/Provider/GoogleMaps/Model/GoogleAddress.php
  src/Provider/GoogleMaps/Tests/GoogleMapsTest.php
Labels: feature request, improvement, provider

#943 [Google Maps] Fix "Administrative level X is defined twice"
  src/Provider/GoogleMaps/Model/GoogleAddress.php
Labels: bug, provider

#948 [MaxMindBinary] Update CHANGELOG.md
  src/Provider/MaxMindBinary/CHANGELOG.md
Labels: documentation, provider

#949 [GoogleMaps] Update CHANGELOG.md
  src/Provider/GoogleMaps/CHANGELOG.md
Labels: documentation, provider
