Repository geocoder-php/Geocoder, pull requests merged in 2019-05, with the labels that each got.

#957 Add new GraphHopper Provider
  phpunit.xml.dist
  src/Provider/GraphHopper/.gitattributes
  src/Provider/GraphHopper/.gitignore
  src/Provider/GraphHopper/.travis.yml
  src/Provider/GraphHopper/CHANGELOG.md
  src/Provider/GraphHopper/GraphHopper.php
  src/Provider/GraphHopper/LICENSE
  src/Provider/GraphHopper/Readme.md
  src/Provider/GraphHopper/Tests/.cached_responses/graphhopper.com_0738ac7186c4ef03fc2bc161a4a0e0e300e5054c
  src/Provider/GraphHopper/Tests/.cached_responses/graphhopper.com_6d89adf02c514267f7af911010df8666a4cd2d94
  src/Provider/GraphHopper/Tests/.cached_responses/graphhopper.com_6dcdfc368607f1335b5e141a4dfad1e371619ce0
  src/Provider/GraphHopper/Tests/.cached_responses/graphhopper.com_b4ffeedbcfaa52f7212fd16b9e66bc5fc44051df
  src/Provider/GraphHopper/Tests/.cached_responses/graphhopper.com_bd75a832908d44930595a141e4cb0ae6954d6f80
  src/Provider/GraphHopper/Tests/GraphHopperTest.php
  src/Provider/GraphHopper/Tests/IntegrationTest.php
  src/Provider/GraphHopper/composer.json
  src/Provider/GraphHopper/phpunit.xml.dist
Labels: provider

#955 Add support to Here CIT environment
  src/Provider/Here/Here.php
  src/Provider/Here/Tests/.cached_responses/geocoder.cit.api.here.com_5a8be9c1bbbd2bb76f0864d9492c4cb8497db5d0
  src/Provider/Here/Tests/.cached_responses/reverse.geocoder.cit.api.here.com_60b84333b0446383a5b73aec36bd3fc743fa4943
  src/Provider/Here/Tests/IntegrationTest.php
Labels: improvement, provider

#959 [Here] Update CHANGELOG.md
  src/Provider/Here/CHANGELOG.md
Labels: documentation, provider
