Repository geocoder-php/Geocoder, pull requests merged in 2019-06, with the labels that each got.

#964 chore: update geoip2 documentation
  src/Provider/GeoIP2/README.md
Labels: documentation, provider

#968 Update README.md
  README.md
Labels: documentation

#963 chore(provider): deprecate mapzen provider
  README.md
  src/Provider/Mapzen/CHANGELOG.md
  src/Provider/Mapzen/Mapzen.php
  src/Provider/Mapzen/README.md
Labels: documentation, provider

#962 feat: add geocode-earth provider
  phpunit.xml.dist
  src/Provider/GeocodeEarth/.gitattributes
  src/Provider/GeocodeEarth/.gitignore
  src/Provider/GeocodeEarth/.travis.yml
  src/Provider/GeocodeEarth/CHANGELOG.md
  src/Provider/GeocodeEarth/GeocodeEarth.php
  src/Provider/GeocodeEarth/LICENSE
  src/Provider/GeocodeEarth/README.md
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_234c8399af607fe063e73b6cf481af365bb8ab59
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_2b0341688ccd0380c46c97b2fdacb4d1361f965d
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_323de0a6bf932727e5f6e0d21390a573a94b8d91
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_67c28face3250fb85c57e575427d08672554faa8
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_7520b32bf6580715c8f16cbb420945d9bc231e85
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_77427123dd19ef22423f85d726bc945336984856
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_bd7b556e223f9c6dda6171782466a69442c53862
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_cf59f49faa404ec2e5739ce7a31d962b2d4913b5
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_ed417f8ba91150415a3942713573e7f3f2bb773e
  src/Provider/GeocodeEarth/Tests/GeocodeEarthTest.php
  src/Provider/GeocodeEarth/Tests/IntegrationTest.php
  src/Provider/GeocodeEarth/composer.json
  src/Provider/GeocodeEarth/phpunit.xml.dist
Labels: provider

#971 [AlgoliaPlaces] Create CHANGELOG.md
  src/Provider/AlgoliaPlaces/CHANGELOG.md
Labels: documentation, provider
