Repository geocoder-php/Geocoder, pull requests merged in 2020-06, with the labels that each got.

#1062 Fix the path for Nominatim provider in the example in readme.md file
  src/Provider/Nominatim/Readme.md
Labels: documentation, provider

#1067 [Mapbox] Check for "short_code" key before using it
  src/Provider/Mapbox/Mapbox.php
  src/Provider/Mapbox/Tests/.cached_responses/api.mapbox.com_20d856dd6d6ae671b181193de4e52f7fb651fd97
  src/Provider/Mapbox/Tests/MapboxTest.php
Labels: bug, provider

#1046 [Pelias] Fix NULL value for $bounds
  src/Provider/GeocodeEarth/Tests/.cached_responses/api.geocode.earth_bcf5bd9fe5f5350148dbed04ef8fc7d93b192179
  src/Provider/GeocodeEarth/Tests/GeocodeEarthTest.php
  src/Provider/Pelias/Pelias.php
Labels: bug

#1051 [Nominatim] Fix Undefined property when no country
  src/Provider/Nominatim/Nominatim.php
  src/Provider/Nominatim/Tests/.cached_responses/nominatim.openstreetmap.org_8934d1c4f224d07cc55e360ed2935e46fbd817db
  src/Provider/Nominatim/Tests/NominatimTest.php
Labels: bug, provider
