Repository geocoder-php/Geocoder, pull requests merged in 2022-02, with the labels that each got.

#1148 Added bounds/bbox to Graphhopper Query
  src/Provider/GraphHopper/GraphHopper.php
  src/Provider/GraphHopper/Tests/.cached_responses/graphhopper.com_22b437e895033eeafcaafc3f5081f8e2fbdc1922
  src/Provider/GraphHopper/Tests/.cached_responses/graphhopper.com_40088df824bbd9c207931e085c7fb0146c87c4e0
  src/Provider/GraphHopper/Tests/GraphHopperTest.php
Labels: provider, improvement

#1149 Fix IP2Location test
  src/Provider/IP2Location/IP2Location.php
  src/Provider/IP2Location/Tests/.cached_responses/api.ip2location.com_02bfee202d2450a82138b2d0a8d7c3e2e2018caf
Labels: bug

#1136 [Photon] Add country codes
  src/Provider/Photon/Photon.php
  src/Provider/Photon/Tests/PhotonTest.php
Labels: provider

#1113 Add MapTiler provider
  phpunit.xml.dist
  src/Provider/MapTiler/.gitattributes
  src/Provider/MapTiler/.gitignore
  src/Provider/MapTiler/.travis.yml
  src/Provider/MapTiler/CHANGELOG.md
  src/Provider/MapTiler/LICENSE
  src/Provider/MapTiler/MapTiler.php
  src/Provider/MapTiler/README.md
  src/Provider/MapTiler/Tests/.cached_responses/api.maptiler.com_0391d8abb16470857862daf1b980283a56e95d4f
  src/Provider/MapTiler/Tests/.cached_responses/api.maptiler.com_329b8557f8161178000578d76ce9ba68d137c4e5
  src/Provider/MapTiler/Tests/.cached_responses/api.maptiler.com_8c0d9bcd77b77741f041ac7c46cb3bec2f39109a
  src/Provider/MapTiler/Tests/.cached_responses/api.maptiler.com_8c11c3fbb7c426ff75d0b32d0395b561beae1c86
  src/Provider/MapTiler/Tests/.cached_responses/api.maptiler.com_9e6e36ee63772e6e8c2efce6d1235edcbb3850d0
  src/Provider/MapTiler/Tests/.cached_responses/api.maptiler.com_b8c3c66ba195f4e298eb6fd2524740452ff91271
  src/Provider/MapTiler/Tests/.cached_responses/api.maptiler.com_c10c2c3586710cd76b1aeb86f624b435a57da03f
  src/Provider/MapTiler/Tests/IntegrationTest.php
  src/Provider/MapTiler/Tests/MapTilerTest.php
  src/Provider/MapTiler/composer.json
  src/Provider/MapTiler/phpunit.xml.dist
Labels: provider
