Repository geocoder-php/Geocoder, pull requests merged in 2023-07, with the labels that each got.

#1138 [GoogleMapsPlaces] Fix error message not displayed when using a bad API key
  src/Provider/GoogleMapsPlaces/GoogleMapsPlaces.php
  src/Provider/GoogleMapsPlaces/Tests/.cached_responses/maps.googleapis.com_cadff963f476475981c981d8dcffbdf0ef41a5b0
  src/Provider/GoogleMapsPlaces/Tests/GoogleMapsPlacesTest.php
Labels: bug, provider

#1140 Specify iterable type
  src/Common/Collection.php
Labels: improvement

#1188 [Photon] Add state, county & district properties
  src/Provider/Photon/Model/PhotonAddress.php
  src/Provider/Photon/Photon.php
  src/Provider/Photon/Tests/.cached_responses/photon.komoot.io_befc5e828aebefb41ad8dca3453898cf26e6fae4
  src/Provider/Photon/Tests/PhotonTest.php
Labels: provider, improvement

#1190 Fix Reverse Geocode failure - Here maps - Undefined index: LocationId
  src/Provider/Here/Here.php
Labels: bug, provider
